[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
mysqlclient = "*"
django-simple-history = "*"
django-import-export = "*"
sqlparse = "*"


[dev-packages]

pylint = "*"
yapf = "*"


[requires]

python_version = "3.6"
